# udev rules for automatic detection of USB tethered phones

# Android devices
ACTION=="add", SUBSYSTEM=="net", ATTRS{idVendor}=="18d1", ATTRS{idProduct}=="4ee[0-9a-f]", TAG+="systemd", ENV{ID_NET_DRIVER}=="rndis_host", ENV{SYSTEMD_WANTS}="osint-phone-connected.service"
ACTION=="add", SUBSYSTEM=="net", ATTRS{idVendor}=="22b8", ATTRS{idProduct}=="2e24", TAG+="systemd", ENV{ID_NET_DRIVER}=="rndis_host", ENV{SYSTEMD_WANTS}="osint-phone-connected.service"
ACTION=="add", SUBSYSTEM=="net", ATTRS{idVendor}=="0bb4", ATTRS{idProduct}=="0ffe", TAG+="systemd", ENV{ID_NET_DRIVER}=="rndis_host", ENV{SYSTEMD_WANTS}="osint-phone-connected.service"
ACTION=="add", SUBSYSTEM=="net", ATTRS{idVendor}=="04e8", ATTRS{idProduct}=="6863", TAG+="systemd", ENV{ID_NET_DRIVER}=="rndis_host", ENV{SYSTEMD_WANTS}="osint-phone-connected.service"
ACTION=="add", SUBSYSTEM=="net", ATTRS{idVendor}=="2717", ATTRS{idProduct}=="ff48", TAG+="systemd", ENV{ID_NET_DRIVER}=="rndis_host", ENV{SYSTEMD_WANTS}="osint-phone-connected.service"
ACTION=="add", SUBSYSTEM=="net", ATTRS{idVendor}=="12d1", ATTRS{idProduct}=="108a", TAG+="systemd", ENV{ID_NET_DRIVER}=="rndis_host", ENV{SYSTEMD_WANTS}="osint-phone-connected.service"
ACTION=="add", SUBSYSTEM=="net", ATTRS{idVendor}=="0fce", ENV{ID_NET_DRIVER}=="rndis_host", TAG+="systemd", ENV{SYSTEMD_WANTS}="osint-phone-connected.service"
ACTION=="add", SUBSYSTEM=="net", ATTRS{idVendor}=="1004", ENV{ID_NET_DRIVER}=="rndis_host", TAG+="systemd", ENV{SYSTEMD_WANTS}="osint-phone-connected.service"

# iPhone devices (handled by ipheth driver)
ACTION=="add", SUBSYSTEM=="net", KERNEL=="eth*", ATTRS{idVendor}=="05ac", TAG+="systemd", ENV{ID_NET_DRIVER}=="ipheth", ENV{SYSTEMD_WANTS}="osint-phone-connected.service"

# Run helper script when device is removed to clean up any routes
ACTION=="remove", SUBSYSTEM=="net", ENV{ID_NET_DRIVER}=="rndis_host", RUN+="/bin/bash -c 'logger -t osint-network \"USB network device removed, cleaning up routes\"; /usr/local/bin/osint-network status'"
ACTION=="remove", SUBSYSTEM=="net", ENV{ID_NET_DRIVER}=="ipheth", RUN+="/bin/bash -c 'logger -t osint-network \"USB network device removed, cleaning up routes\"; /usr/local/bin/osint-network status'"