[Interface]
PrivateKey = {{ lookup('file', '/etc/wireguard/privatekey') }}
Address = 10.64.0.2/32
DNS = {{ vpn_dns }}

[Peer]
PublicKey = {{ mullvad_server_pubkey }}
Endpoint = {{ mullvad_server_endpoint }}
AllowedIPs = 0.0.0.0/0, ::/0

# Ensure SSH access remains available
PostUp = ip rule add from all sport {{ ssh_port }} lookup main priority 1
PostDown = ip rule delete from all sport {{ ssh_port }} lookup main priority 1